<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Expense Tracker - Reset Password</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
    />
    <link rel="stylesheet" href="/css/resetPassword.css" />
  </head>
  <body>
    <div class="container">
      <div class="form-container">
        <h1>Reset Password</h1>
        <form id="reset-password-form">
          <div class="form-group">
            <label for="new-password">New Password</label>
            <div class="input-icon">
              <i class="fas fa-lock"></i>
              <input
                type="password"
                id="new-password"
                name="new-password"
                required
              />
            </div>
          </div>
          <div class="form-group">
            <label for="confirm-password">Confirm Password</label>
            <div class="input-icon">
              <i class="fas fa-lock"></i>
              <input
                type="password"
                id="confirm-password"
                name="confirm-password"
                required
              />
            </div>
          </div>
          <button type="submit">Reset Password</button>
        </form>
      </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.7.2/axios.min.js"></script>
    <script src="/js/resetPassword.js"></script>
  </body>
</html>
